[submodule "vendor/memories"]
	path = vendor/memories
	url = git@github.com:khoralabs/memories.git
[submodule "vendor/obp"]
	path = vendor/obp
	url = git@github.com:khoralabs/open-binding-protocol.git
[submodule "vendor/relay"]
	path = vendor/relay
	url = git@github.com:khoralabs/relay.git
[submodule "vendor/chat"]
	path = vendor/chat
	url = git@github.com:khoralabs/chat.git
